
.currency-converter {
    min-width: 500px;
    margin: auto;
    text-align: center;
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    margin-top: 30px;
}


.currency-converter .to {
    font-size: 25px;
    font-weight: semi-bold;
}

.input-container input {
    width: 20%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    background-color: #5ba0d85c;
}

.input-container select {
    width: 10%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    background-color: #cecece;
    cursor: pointer;

}

.currency-converter .exchange-rate{
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}