:root{
    ---background: #ffffff;
    ---text-primay: #000;
    ---button-bg: #000;
    ---button-text: #ffffff;
}

[data-theme='dark'] {
    ---background: #000;
    ---text-primay: #ffffff;
    ---button-bg: #ffffff;
    ---button-text: #000;
}

.light-dark-mode{
    background-color: var(---background);
    height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 40px;
    transition: all 0.5s;
}

.contains{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    color: var(---text-primay);
}

button {
    color: var(---button-text);
    background: var(---button-bg);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
}