
.modal {
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #c89300;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid red;
    width: 80%;
    animation-name: animateModal;
    animation-duration: 0.5s;
}

.home {
    padding-top: 100px;
    text-align: center;
    background-color: #c89300;
    width: 100%;
    height: 100vh;
}

.btn {
    color: black;
    background-color: #91c423;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal-icon {
    cursor: pointer;
    font-size: 40px;
    float: right;
    font-weight: bold;
}

.header{
    padding: 8px 18px;
    background-color: #91c423;
}

.body {
    padding: 2px 16px;
    height: 200px;
}

.footer {
    padding: 2px 16px;
    background-color: #91c423;
}

@keyframes animateModal {
    from {
        top: -200px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
    
}